<div class="home-container">
  <div class="home-title">
    <h1>Britevent</h1>
    <h2>Criado por <span>Gustavo Takahashi</span></h2>
  </div>
  <div class="home-infos">
    <div class="info">
      <p><span class="material-icons">celebration</span> Criação de eventos</p>
      <p>Crie, edite e entre em eventos de maneira fácil e rápida!</p>
    </div>
    <div class="info">
      <p><span class="material-icons">calendar_month</span>O tempo importa</p>
      <p>Visualize os eventos de maneira prática. <br>Encontre eventos passados e a serem realizados rápidamente!</p>

    </div>
  </div>
</div>
