/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");

$logo-font: "Pacifico", cursive;
$nav-font: "Cormorant SC", serif;
$warning-color: #9e322d;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.column {
  flex-direction: column;
}

.notification {
  display: flex;
  padding: 15px 0;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  .notification-message {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35.1px;
    font-weight: bold;
    .material-icons {
      font-size: 27px;
      padding-bottom: 4px;
    }
  }
}

.warning {
  background-color: #fff3f7;
  p {
    color: $warning-color;
  }
}

.success {
  background: #f1f9f2;
  p {
    color: #5ba440;
  }
}

.error {
  color: $warning-color;
  padding-left: 3px;
  margin-bottom: 5px;
  margin-top: -5px;
}

.home-container {
  display: flex;
  padding: 50px 4%;
  justify-content: center;
  flex-direction: column;
  .home-title {
    text-align: center;
    h1 {
      font-family: $logo-font;
    }
    h2 {
      font-family: $nav-font;
      span {
        color: orange;
      }
    }
  }
  .home-infos {
    display: flex;
    gap: 50px;
    padding-top: 30px;
    justify-content: center;
    .info {
      p {
        &:first-of-type {
          font-weight: bold;
          color: orange;
          font-family: $nav-font;
          display: flex;
          align-items: center;
          padding-bottom: 5px;
          letter-spacing: 1px;
          font-size: 18px;
          span {
            padding-right: 5px;
            color: black;
          }
        }
      }
    }
  }
}

.signup,
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  h2 {
    font-family: $nav-font;
    font-size: 30px;
    padding-bottom: 30px;
  }
  .form-inputs {
    margin-bottom: 20px;
    #user_remember_me {
      width: 15px;
      margin: 0;
      margin-right: 10px;
    }
    .field_with_hint {
      position: relative;
    }
    .input {
      display: flex;
      flex-direction: column;
      input {
        width: 400px;
        margin: 10px 0;
      }
      .hint {
        font-size: 13px;
        position: absolute;
        top: 4px;
        left: 90px;
        color: $warning-color;
      }
    }
  }
  .form-actions {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding-bottom: 10px;
    .form-actions-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      justify-items: center;
      gap: 30px;
    }
    .forgot-password {
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: red;
        }
      }
    }
  }
}

.button {
  text-decoration: none;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  font-family: $nav-font;
  background-color: #a4a4a4;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background-color: black;
  }
}

nav {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 30px;
  background-color: #000;
  color: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 1px gray;
  .nav-left {
    width: 100%;
    display: flex;
    gap: 30px;
    .logo {
      text-decoration: none;
      color: #ccc;
      font-size: 27px;
      font-family: $logo-font;
      &:hover {
        color: #e2e2e2;
      }
    }
    a,
    button {
      text-decoration: none;
      background-color: transparent;
      border: none;
      color: #a4a4a4;
      font-size: 16px;
      font-family: $nav-font;
      letter-spacing: 1px;
      align-self: center;
      cursor: pointer;
      &:hover {
        color: #5c5a5a;
      }
    }
  }
  .nav-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    gap: 30px;
    a,
    button {
      text-decoration: none;
      background-color: transparent;
      border: none;
      color: #a4a4a4;
      font-size: 16px;
      font-family: $nav-font;
      letter-spacing: 1px;
      cursor: pointer;
      &:hover {
        color: #5c5a5a;
      }
    }
    form {
      display: flex;
      .material-icons {
        font-size: 18px;
        font-family: "Material Icons";
      }
    }
  }
}

.container {
  display: flex;
  padding: 50px 4%;
  gap: 30px;
  height: 100%;
  justify-content: center;
  .create-events-container,
  .edit-event-container {
    display: flex;
    font-family: $nav-font;
    border: 1px dashed black;
    border-radius: 3px;
    height: 210px;
    width: 400px;
    .create-events-left,
    .edit-event-left {
      display: flex;
      height: inherit;
      align-self: center;
      padding: 0px 10px;
      border-right: 1px dashed white;
      width: 25px;
      background-color: black;
      h2 {
        font-size: 12px;
        width: 100%;
        letter-spacing: 1px;
        writing-mode: vertical-rl;
        text-align: center;
        transform: rotate(180deg) translateX(50%);
        color: white;
      }
    }
    .create-events-right,
    .edit-event-right {
      form {
        display: flex;
        flex-direction: column;
        font-size: 20px;
      }
      #event_date {
        margin-left: 10px;
      }

      padding: 20px 10px;
      .control {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        .textarea {
          width: 300px;
        }
      }
      .button {
        position: relative;
        bottom: -30px;
        align-self: center;
        justify-self: center;
      }
    }
  }
}

.next-events,
.past-events {
  flex: 1;
  display: flex;
  flex-direction: column;
  h1 {
    font-family: $nav-font;
    padding-bottom: 5px;
  }
  .past-events-container,
  .next-events-container {
    border: 1px dashed black;
    height: MAX(auto, 130px);
    margin-bottom: 20px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    .past-events-detail,
    .next-events-detail {
      padding: 15px 10px;
      flex: 1;
      p {
        &:last-of-type {
          padding-bottom: 10px;
        }
      }
    }
    .past-events-color,
    .next-events-color {
      width: 20px;
      border-right: 1px dashed black;
    }
  }
}
.show-event-container {
  display: flex;
  padding: 50px 4%;
  .event {
    display: flex;
    flex-direction: column;
    width: 50%;
    .event-container {
      border: 1px dashed black;
      border-radius: 5px;
      width: 80%;
      display: flex;
      .event-detail {
        flex: 1;
        padding: 10px 10px;
        flex-direction: column;
        .button_to {
          display: flex;
          
        }
        p {
          &:nth-last-of-type(2) {
            padding-bottom: 15px;
          }
        }
      }
      .event-color {
        background-color: black;
        width: 20px;
        border-right: 1px dashed black;
      }
    }
  }

  h1 {
    font-family: $nav-font;

    padding-bottom: 10px;
    span {
      color: orange;
    }
  }
}

.show-user-container {
  display: flex;
  padding: 50px 4%;
  .user-events,
  .events-attendees {
    display: flex;
    flex-direction: column;
    width: 50%;
    h1 {
      font-family: $nav-font;
      padding-bottom: 10px;
    }
    span {
      color: orange;
    }
    .user-event-color,
    .events-attendees-color {
      width: 20px;
      border-right: 1px dashed black;
    }
    .user-event-container,
    .events-attendees-container {
      border: 1px dashed black;
      height: MAX(auto,120px);
      margin-bottom: 20px;
      border-radius: 5px;
      width: 80%;
      display: flex;
      .user-event-detail,
      .events-attendees-detail {
        padding: 10px 10px;
        flex: 1;
        }
        p {
          &:last-of-type {
            padding-bottom: 10px;
          }
        }
      }
    }
  }


.event_private {
  &:before {
    content: "Evento Privado? ";
    font-size: 20px;
    font-family: $nav-font;
  }
}

.hidden {
  display: none;
}

.modal {
  display: flex;
  position: absolute;
  flex-direction: column;
  background: black;
  color: white;
  border-radius: 10px;
  padding: 2% 4%;
  top: 100px;
  right: 25%;
  height: 300px;
  h2 {
    font-family: $nav-font;
    span {
      color: orange;
    }
  }
  .user-list-container {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    gap: 10px;
    .user-list {
      display: flex;
      gap: 10px;

      align-items: center;
      .username {
        padding-bottom: 0 !important;
      }
      .material-icons {
        background: none;
        border: none;
        color: #a4a4a4;
        cursor: pointer;
        &:hover {
          color: orange;
        }
      }
    }
  }
}

.close {
  align-self: flex-end;
  display: flex;
  padding: 0;
  background: none;
  border: none;
  margin: 0;
  color: white !important;
  cursor: pointer;
  &:hover {
    color: orange !important;
  }
}

.invites-container {
  display: flex;
  padding: 50px 4%;
  .invites-received,
  .invites-sended {
    display: flex;
    flex-direction: column;
    width: 50%;
    h1 {
      font-family: $nav-font;
      padding-bottom: 10px;
      color: orange;
    }
    .invites-received-container,
    .invites-sended-container {
      .event-users-invited {
        padding: 10px;
        flex: 1;
    
      }
      .tag {
          font-size: 12px;
          letter-spacing: 1px;
          writing-mode: vertical-rl;
          text-align: center;
          transform: rotate(180deg) translateX(100%);
          color: white;
      }
      border: 1px dashed black;
      height: MAX(auto,120px);
      margin-bottom: 20px;
      border-radius: 5px;
      width: 80%;
      display: flex;

      .invites-color {
        width: 20px;
        border-right: 1px dashed black;
      }
    }
  }
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}

.buttons-container {
  display: flex;
  gap: 5px;
}

.private-event {
  font-weight: bold;
  font-family: $nav-font;
  text-align: end;
  color: orange;
}