/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");

$logo-font: "Pacifico", cursive;
$nav-font: "Cormorant SC", serif;
$warning-color: #9e322d;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.notification {
  display: flex;
  padding: 15px 0;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  .notification-message {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 35.1px;
    font-weight: bold;
    .material-icons {
      font-size: 27px;
      padding-bottom: 4px;
    }
  }
}

.warning {
  background-color: #fff3f7;
  p {
    color: $warning-color;
  }
}

.success {
  background: #f1f9f2;
  p {
    color: #5ba440;
  }
}

.error {
  color: $warning-color;
  padding-left: 3px;
  margin-bottom: 5px;
  margin-top: -5px;
}

.signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  .form-inputs {
    margin-bottom: 20px;
    .field_with_hint {
      position: relative;
    }
    .input {
      display: flex;
      flex-direction: column;
      input {
        width: 400px;
        margin: 10px 0;
      }
      .hint {
        font-size: 13px;
        position: absolute;
        top: 4px;
        left: 90px;
        color: $warning-color;
      }
    }
  }
  .form-actions {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
}

.button {
  text-decoration: none;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  font-family: $nav-font;
  background-color: #a4a4a4;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background-color: red;
  }
}

nav {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 30px;
  background-color: #000;
  color: white;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 1px gray;
  margin-bottom: 50px;
  .nav-left {
    .logo {
      text-decoration: none;
      color: #ccc;
      font-size: 27px;
      font-family: $logo-font;
      &:hover {
        color: #e2e2e2;
      }
    }
  }
  .nav-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    gap: 30px;
    font-family: $nav-font;
    letter-spacing: 1px;
    a {
      text-decoration: none;
      color: #a4a4a4;
      &:hover {
        color: #5c5a5a;
      }
    }
  }
}
